<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../public/css/form.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <div class="parent m-2 flex justify center bg-red-100">
    <div class="child w-10 h-14 shadow shadow-slate-200 bg-zinc-300">
<div class="form">
    <h3>ADD PROPERTY</h3>
    <form id="stripe" action="post">
    <div class="field padding-bottom--24">
        <label for="email">Seller's Name</label><br>
            <input type="text" name="name" placeholder="Mr. Bean">
                </div>
    <div class="field padding-bottom--24">
    <label for="password">Property's Name</label><br>
    <input type="text" name="property-name" placeholder="name">
    </div>
    <div class="field padding-bottom--24">
    <label for="password">Address</label><br>
    <input type="text" name="address" placeholder="xyz street,city">
    </div>
    <div class="field padding-bottom--24">
    <label for="password">Description</label><br>
    <input type="text" name="description" placeholder="e.g. Beautiful house">
    </div>
      <div class="field padding-bottom--24">
    <label for="password">Location</label><br>
    <input type="text" name="location" placeholder="e.g. Berlin">
    </div>
      <div class="field padding-bottom--24">
    <label for="password">Price (in $ )</label><br>
    <input type="number" name="price" placeholder="$ 500">
    </div>
    <button class="submit-btn">Continue</button>
    <div class="field">
    <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
</div>
     </div>
</form>
</div>
        </div></div>
</body>
</html>